# Node
node_modules
npm-debug.log
yarn-error.log

# Composer
/vendor
composer.lock

# Laravel storage & logs (keep runtime clean)
/storage/*.key
/storage/logs
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*

# Environment files
.env
.env.* 

# Git
.git
.gitignore

# OS / Editor junk
.DS_Store
.idea
.vscode
